/* App.css */

/* Container for all messages */
.chat-messages-container {
  height: 80vh;
  width: 55vw;
  overflow-y: auto;
  background-color: rgb(34, 34, 34);
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
  padding: 10px;
}

/* Hide the scrollbar by default */
.chat-messages-container::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
  transition: opacity 0.3s ease; /* Smooth transition */
  opacity: 0; /* Initially hidden */
}

.chat-messages-container:hover::-webkit-scrollbar {
  opacity: 1; /* Visible on hover */
}

/* Scrollbar track */
.chat-messages-container::-webkit-scrollbar-track {
  background: rgb(50, 50, 50);
  border-radius: 4px;
}

/* Scrollbar thumb */
.chat-messages-container::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border-radius: 4px;
  border: 1px solid rgb(34, 34, 34);
}

.chat-messages-container::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}

/* For Firefox, hide scrollbar by default */
.chat-messages-container {
  scrollbar-width: thin; /* For when visible */
  scrollbar-color: rgb(100, 100, 100) rgb(50, 50, 50); /* Colors */
}

.chat-messages-container:hover {
  scrollbar-width: thin; /* Show when hovered */
}


/* Styling for individual messages */
.message {
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
  margin: 5px 0;
  word-wrap: break-word;
}

.message.user {
  background-color: #cce5ff;
  align-self: flex-end;
}

.message.bot {
  background-color: #d1ffd6;
  align-self: flex-start;
}

.loading-dots {
  display: inline-block;
  width: 30px;
  height: 10px;
  position: relative;
}

.loading-dots:after,
.loading-dots:before {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  animation: dot-blink 1.5s infinite ease-in-out;
}

.loading-dots:before {
  left: 0;
  animation-delay: 0s;
}

.loading-dots:after {
  right: 0;
  animation-delay: 0.5s;
}

@keyframes dot-blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Smaller screens: Adjust padding and font size */
@media screen and (max-width: 768px) {
  .chat-messages-container{
    width: 90vw;
    margin-bottom: 30vh;
  }
}

/* Very small screens (like mobile phones): Adjust further */
@media screen and (max-width: 480px) {
  .chat-messages-container {
    width: 90vw;
  }
}